.sconsign.dblite
*.o
moc*.cpp
*.os
*.so
*~
experiments/cluster
experiments/selfsim
experiments/gabor
experiments/hist2pgm
experiments/plothist
experiments/spect2csv
experiments/plotbpm
experiments/spect_range
experiments/exp_distance
experiments/plotspect3d
experiments/plotspect
spectradio/spectradio
utils/decoder
utils/genhistdb
utils/getsimilar
utils/spectgen
